# All ignore
*

# allow directors
!arch
!arch/arm11
!arch/arm11/peripheral
!arch/x86_32
!arch/x86_32/memory
!lib/
!lib/rust
!lib/rust-multiboot

# allow files
!.gitignore
!Makefile*
!*.asm
!*.S
!*.ld
!*.cfg
!*.txt
!*.rs
!*.json
